[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
matplotlib = "*"
numpy = "*"
pandas = "*"
seaborn = "*"
plotly = "*"
sklearn = "*"
lightgbm = "*"

[dev-packages]
"flake8" = "*"
yapf = "*"
rope = "*"

[requires]
python_version = "3.6"
